<h1>Show Room</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @room.name %>
  </li>

  <li>
    <strong>Furniture count:</strong>
    <%= @room.furniture_count %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.room_path(@conn, :edit, @room) %></span> |
<span><%= link "Back", to: Routes.room_path(@conn, :index) %></span>
