<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Yindlo", suffix: " · Yindlo" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body class=" w-full max-w-[1600px] mx-auto ">
      <header>
        <section  class="w-full p-4">
          <div class="mx-auto">
            <nav class="flex flex-row space-x-4 justify-between items-center h-24 px-4 bg-neutral-light backdrop-blur-sm bg-opacity-50 rounded-xl z-10 relative">
                <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
                  <span><%= link "Live Dashboard", to: Routes.live_dashboard_path(@conn, :home) %></span>
                <% end %>
              <%= render "_user_menu.html", assigns %>
            </nav>
          </div>
        </section>
      </header>
      <%= @inner_content %>
      <footer class="">
        feet and stuff
      </footer>
  </body>
</html>
